    <% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      The <a href="https://github.com/Captain1/dochub/">Document Hub</a>
      is a document repository where you can find IT documents you need!.
    </p>