    <% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      Please feel free to contact me if you have any questions.My<a href="http://frankwdy11@gmail.com">Gmail.</a>I will reply you soon.
    </p>