<% if signed_in? %>
<ul class="nav pull-left">
    <li>
        <form class="input-append" action="/docs" accept-charset="UTF-8" method="get" style="margin-top:10px;margin-left:40px;">
            <input type="text" name="search" id="search" class="form-control" placeholder="Search docs...">
            <button type="submit" class="btn"><i class="icon-search" title="Search"></i>
            </button>
        </form>
    </li>
</ul>
<% end %>